.lead__title {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  margin: 0;
  padding: 0 16px 16px 16px;
  max-width: 288px;
}

@media screen and (min-width: 768px) {
  .lead__title { 
  font-size: 96px;
  line-height: 100px;
  padding: 0 24px 32px 24px;
  max-width: 720px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__title { 
  padding: 0 152px 32px 152px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__title { 
  padding: 0 280px 32px 280px;
  }
}




