.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  padding: 48px 118px 24px 16px;
  box-sizing: border-box;
  }
  
  
  @media screen and (min-width: 768px) {
    .footer__copyright {
      line-height: 16px;
      padding: 0 0 24px 51px;
    }
  }
  