.cover {
  padding-top: 66px;
  padding-bottom: 64px;
  position: relative;
}


@media screen and (min-width: 768px) {
  .cover  { 
padding: 88px 0 90px 0;
}

@media screen and (min-width: 1024px) {
  .cover  { 
padding: 92px 0 92px 0;
}

@media screen and (min-width: 1280px) {
  .cover  { 
padding: 92px 48px;
}
