.cover {
  padding-top: 62px;
  padding-bottom: 49px;
  position: relative;
}


@media screen and (min-width: 768px) {
  .cover  { 
padding: 83px 0 87px 0;
}
}

@media screen and (min-width: 1024px) {
  .cover  { 
padding: 106px 0 92px 0;
}
}

@media screen and (min-width: 1280px) {
  .cover { 
padding: 90px 48px;
}
}