.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
  padding: 32px 17px 17px 16px;
  text-decoration: none;
  max-width: 258px;
  margin: 0;
  position: relative;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .cover__title  { 
   max-width: 560px;
   font-size: 72px;
   line-height: 76px;
   padding: 115px 104px 32px 104px;
   box-sizing: initial;
 }
}

@media screen and (min-width: 1024px) {
  .cover__title  {    
padding: 195px 232px 38px 232px;
  }
}

@media screen and (min-width: 1280px) {
  .cover__title  { 
padding: 245px 312px 32px 312px;
  }
}