.place {
  min-width: 320px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding-bottom: 50px;
}


@media screen and (min-width: 768px) {
  .place { 
    min-width: 720px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 48px 28px;
    padding-bottom: 73px;
  }
}

@media screen and (min-width: 1024px) {
  .place { 
    gap: 48px 32px;
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .place { 
    gap: 48px 40px;
  }
}

.place:last-of-type {
  padding-bottom: 0;
}






