.footer {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer {
  flex-direction: row;
  justify-content: space-between;
  padding: 0 24px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
  padding: 0 48px 0 48px;
  }
}
