.place__url-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #AAAAAA;
  padding-bottom: 15px;
  text-transform: uppercase;
  }


  @media screen and (min-width: 768px) {
    .place__url-heading  { 
    padding-bottom: 23px;
  }
  }

  @media screen and (min-width: 1024px) {
    .place__url-heading  { 
    padding-bottom: 16px;
  }
  }