.place__website {
  max-width: 288px;
  padding: 0 16px 32px 16px;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .place__website { 
    padding: 0 24px 0 0px;
    min-width: 352px;
    align-self: end;
  }
}

@media screen and (min-width: 1024px) {
  .place__website { 
    padding: 0 48px 0 0px;
  }
}

@media screen and (min-width: 1280px) {
  .place__website { 
    padding: 0 176px 0px 0px;
  }
}
